# === Directorios generados ===
/target/
/temp/

# === Archivos de logs ===
*.log

# === IDEs ===
# Eclipse
.classpath
.project
.settings/
# IntelliJ IDEA
*.iml
.idea/

# === Sistema operativo ===
# macOS
.DS_Store
# Windows
Thumbs.db
desktop.ini

# === Maven ===
.mvn/
!**/src/main/**/.gitkeep

# === Archivos temporales ===
*.swp
*.bak
*.tmp

# === Java ===
*.class

# === Otros ===
*.mv.db
*.h2.db